<html>
<title>Frontier Wallet</title>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1 style="text-align:center;">Referral Page</h1>

    <div style="display: flex;justify-content: center;">
        <div style="position: relative;width: 400px;margin: 10px;">
            <label>Referal Code</label>
            <input class="text" style="width: 100%; padding: 10px;" value="{{ .}}">
            <button class="copyTextButton" style="position: absolute;top: 28px;right: 10px;">Copy</button>
        </div>
        <div style="position: relative;width: 400px;margin: 10px;">
            <label>Link</label>
            <input class="text" style="width: 100%; padding: 10px;" value="https://frontier.xyz/referrals?Id={{ .}}">
            <button class="copyTextButton" style="position: absolute;top: 28px;right: 10px;">Copy</button>
        </div>
    </div>

    <script>
        $(".copyTextButton").on("click", function() {
            $(this).parent("div").find(".text").focus();
            $(this).parent("div").find(".text").select();
            var successful = document.execCommand('copy');
        })
    </script>
</body>
</html>
